body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../image/planodefundo2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
}

header {
    background-color: #333;
    color: #fff;
    height: 80px; /* Altura do header */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaça o logo e o título */
    align-items: center; /* Centraliza verticalmente */
    padding: 0 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

header img {
    max-width: 150px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5em; /* Ajusta o tamanho do texto do título */
}
h2{
        color: #000000;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;
    }

.container {
        max-width: 1000px;
        margin: 0px auto;
        padding: 20px;
        background-color: #ffffff87;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }


    .form-group {
        display: inline-block;
        margin-left:  113px;
        margin-bottom: 30px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"], input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #ff5722;
        color: white;
        margin-left: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #e53935;
    }
