<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Viação Vapt-Vupt</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/login-usuario.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
</head>
<body>
<div id="container">
    <div class="banner">
        <img th:src="@{/image/login2.png}" alt="imgLogin" style="width:440px;height:440px;">

        <div class="footer">
            <h1 style="color: #000000;"> Bem-vindo(a) à Vapt Vupt! </h1>
        </div>
    </div>

    <div class="box-login">
        <center>
            <h1>Olá!</h1>
        </center>
        <h2>Seja Bem Vindo !!!</h2>

        <div class="box">
            <h2>Faça o seu login agora</h2>
            <form th:action="@{/usuarios/verificarLogin}" th:object="${usuario}" method="GET" class="form">
                <input type="text" th:field="*{email}" id="username" placeholder="Email">
                <input type="password" th:field="*{senha}" id="password" placeholder="Senha">

                <button type="submit">Login</button>
            </form>
            <a th:href="@{/usuarios/formularioParaCadastro}">
                <p>Criar uma conta</p>
            </a>

            <div class="social">
                <a href="https://www.facebook.com/">
                    <img th:src="@{/image/facebook.png}" alt="facebook">
                </a>
                <a href="https://gmail.com/">
                    <img th:src="@{/image/google.png}" alt="google">
                </a>
                <a href="https://github.com/">
                    <img th:src="@{/image/github.png}" alt="github">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
