<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viação Vapt - Vupt</title>
    <link rel="stylesheet" th:href="@{/css/viagensDisponiveis.css}">
</head>
<body>
<header>
    <img th:src="@{/image/logoMenorAdm.png}" alt="LogoVVV">
    <h1>Viação Vapt - Vupt</h1>
</header>
<br><br>
<h2>SEU CAMINHO É IMPORTANTE !!</h2>
<div class="container">
    <div class="container" style="margin-bottom: 20px">
        <h2>Não Há Viagens Disponiveis, Faça a Pesquisa Novamente !!!!</h2>
    </div>
    <button onclick="window.history.back();" class="btn-primary">Voltar para a Página de Pesquisa</button>
</div>
</body>
</html>
